.employeeGrid
{
height:35vh;
border:2px solid black;
margin-top:5px;
margin-bottom:5px;
margin-right:5px;
margin-left:5px;
padding: 5px;
overflow: scroll;
}
.employeeGridHeader
{
text-align:right;
padding:5px;
}
.employeeGridSNOColumnTitle
{
width:60px;
text-align:center;
}
.employeeGridIdColumnTitle
{
width:200px;
text-align:center;
}
.employeeGridNameColumnTitle
{
width:200px;
text-align:center;
}
.employeeGridDesignationColumnTitle
{
width:200px;
text-align:center;
}
.employeeGridEditOptionColumnTitle
{
width:100px;
text-align:center;
}
.employeeGridDeleteOptionColumnTitle
{
width:100px;
text-align:center;
}