.error
{
color:red;
}
.main-container
{
width:90hw;
height:auto;
border:2px solid black;
}
.header
{
width:90hw;
height:60px;
border:2px solid black;
margin:5px;

}
.logo
{
padding:5px;
float:left;
}
.brand-name
{
margin-top:15px;
margin-bottom:15px;
font-size:20pt;
float:left;
}
.content
{
width:90hw;
height:70vh;
border:2px solid white;
margin:5px;
}
.content-left-panel
{
height:65vh;
border:2px solid black;
margin:5px;
float:left;
padding:5px;
}
.content-right-panel
{
height:65vh;
border:2px solid black;
margin-top:5px;
margin-bottom:5px;
margin-right:5px;
margin-left:105px;
padding: 5px;
overflow: scroll;
}
.footer
{
width: 90hw;
height: auto;
border: 2px solid white;
margin: 5px;
text-align: center;
}
.loginForm
{
width: 25%;
margin:0 auto;
padding: 20px;
border: 1px solid black;
}
.username
{
float:right;
margin-right: 10px;
margin-top: 5px;

}